MOODLE_DATA_ROOT=/efs/moodledata
MOODLE_SSL_PROXY=
MOODLE_WWW_ROOT=CHANGE_ME_WITH_LOCAL_IP_ADDRESS
MOUNT_DIRECTORY=/efs
RDS_DB_NAME=cursopopulardefensoria
RDS_HOSTNAME=CRIE_UMA_COPIA_VIA_AWS_RDS_E_ME_ALTERE
RDS_PASSWORD=CRIE_UMA_COPIA_VIA_AWS_RDS_E_ME_ALTERE
RDS_USERNAME=root
REGION=us-east-1
SMTP_DEBUG_SMTP=
SMTP_DIVERT_ALL_EMAILS_TO=COLOQUE_AQUI_SEU_EMAIL_PESSOAL_PARA_EVITAR_ENVIOS_INDEVIDOS
SMTP_EMAIL_ONLY_FROM_NO_REPLY_ADDRESS=1
SMTP_HOSTS=email-smtp.us-east-1.amazonaws.com:587
SMTP_NO_REPLY_ADDRESS=COLOQUE_AQUI_SEU_EMAIL_PESSOAL
SMTP_PASSWORD=SUA_SENHA_DO_SERVICO_AWS_SES
SMTP_SECURE=tls
SMTP_USER=USER_KEY_DO_SERVICO_AWS_SES
